244410028_İlkerKuru_DersÖzeti_n8n.json
{
  "name": "YouTube AI Master - Final v6",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "webhookId": "yt-final-tg",
      "credentials": {
        "telegramApi": {
          "id": "cred-tg",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-final-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "web-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        600
      ],
      "webhookId": "yt-final-web"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nlet source = 'web';\nlet msg = '';\nlet sessionId = '';\nlet userId = '';\nlet chatId = '';\n\nif (input.message && input.message.text) {\n  source = 'telegram';\n  msg = input.message.text;\n  userId = String(input.message.from?.id || '');\n  chatId = String(input.message.chat?.id || '');\n  sessionId = 'tg_' + chatId;\n} else {\n  msg = body.message || body.chatInput || '';\n  sessionId = body.sessionId || 'web_' + Math.random().toString(36).slice(2, 11);\n  userId = sessionId;\n  chatId = sessionId;\n}\n\nreturn [{ json: { msg, sessionId, userId, chatId, source, timestamp: new Date().toISOString() }}];"
      },
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        500
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "={user_id} = \"{{ $json.userId }}\"",
        "options": {
          "sort": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ]
        },
        "limit": 1
      },
      "id": "get-last",
      "name": "Get Last Session",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst msg = (data.msg || '').trim();\nconst sessionId = data.sessionId;\nconst userId = data.userId;\nconst chatId = data.chatId;\nconst source = data.source;\n\nconst last = $input.all()[1]?.json?.fields || {};\nconst lastVideoId = last.video_id || null;\nconst lastTests = last.test_sorulari ? JSON.parse(last.test_sorulari) : [];\n\nconst ytRegex = /(?:https?:\\/\\/)?(?:www\\.)?(?:youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/|live\\/)|youtu\\.be\\/)([\\w-]{11})/;\nconst match = msg.match(ytRegex);\nconst videoId = match ? match[1] : null;\n\nconst lower = msg.toLowerCase().trim();\nlet intent = 'soru';\n\nif (videoId) intent = 'youtube';\nelse if (lower.startsWith('/help') || lower.startsWith('/start')) intent = 'help';\nelse if (lower.startsWith('/history')) intent = 'history';\nelse if (lower.match(/^[a-d][\\.\\)]/i) && lastTests.length > 0) intent = 'test_cevap';\nelse if (lower.includes('test') || lower.includes('quiz') || lower.includes('soru')) intent = 'test_iste';\nelse if (lower.includes('özet') || lower.includes('ozet') || lower.includes('summary')) intent = 'ozet_iste';\nelse if (lower.includes('sade') || lower.includes('basit') || lower.includes('kolay') || lower.includes('simple')) intent = 'sade_anlat';\nelse if (lower.includes('detay') || lower.includes('derin') || lower.includes('ileri') || lower.includes('advanced')) intent = 'derin_anlat';\nelse if (lower.includes('ingilizce') || lower.includes('english')) intent = 'ingilizce';\nelse if (lower.includes('5 yaş') || lower.includes('çocuk') || lower.includes('cocuk')) intent = 'cocuk';\n\nreturn [{ json: { msg, sessionId, userId, chatId, source, videoId, intent, lastVideoId, lastTests, lastTitle: last.title || '', lastOzet: last.ozet || '', lastDers: last.ders_anlatimi || '[]', lastKavramlar: last.anahtar_kavramlar || '' }}];"
      },
      "id": "analyze",
      "name": "Message Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "test_cevap",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "test_cevap"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "history",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "history"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.supadata.ai/v1/youtube/transcript",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.videoId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_SUPADATA_KEY"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "supadata",
      "name": "Supadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prev = $('Message Analyze').first().json;\n\nlet transcript = '';\nlet lang = 'tr';\n\nif (Array.isArray(input.content)) {\n  transcript = input.content.map(s => s.text).join(' ');\n  lang = input.language || 'tr';\n} else if (typeof input.content === 'string') {\n  transcript = input.content;\n} else if (input.transcript) {\n  transcript = Array.isArray(input.transcript) ? input.transcript.map(s => s.text).join(' ') : input.transcript;\n}\n\nif (transcript.length > 150000) transcript = transcript.substring(0, 150000) + '\\n\\n[...]';\n\nreturn [{ json: { ...prev, transcript, lang, charCount: transcript.length } }];"
      },
      "id": "proc-trans",
      "name": "Process Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "={video_id} = \"{{ $json.videoId }}\""
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-cached",
      "name": "Is Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const rec = $input.first().json.fields;\nconst prev = $('Message Analyze').first().json;\n\nreturn [{ json: {\n  ...prev,\n  cached: true,\n  title: rec.title || 'Başlıksız',\n  seviye: rec.seviye || '',\n  ozet: rec.ozet || '',\n  summary: rec.summary || '',\n  parsedLesson: {\n    video_konusu: rec.title || '',\n    seviye: rec.seviye || '',\n    ozet: rec.ozet || '',\n    ders_anlatimi: JSON.parse(rec.ders_anlatimi || '[]'),\n    test_sorulari: JSON.parse(rec.test_sorulari || '[]'),\n    pratik_uygulamalar: JSON.parse(rec.pratik_uygulamalar || '[]'),\n    anahtar_kavramlar: JSON.parse(rec.anahtar_kavramlar || '[]')\n  }\n}}];"
      },
      "id": "from-cache",
      "name": "From Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.charCount }}",
              "rightValue": 8000,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "long-check",
      "name": "Long Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst t = d.transcript || '';\nconst MAX = 8000;\n\nif (!t || t.length <= MAX) return [{ json: { ...d, chunks: [t], totalChunks: 1 } }];\n\nconst chunks = [];\nlet cur = '';\nconst sentences = t.match(/[^.!?]+[.!?]+/g) || [t];\nfor (const s of sentences) {\n  if ((cur + s).length > MAX && cur.length > 1000) { chunks.push(cur.trim()); cur = s; }\n  else cur += s;\n}\nif (cur.trim()) chunks.push(cur.trim());\n\nreturn chunks.map((c, i) => ({ json: { ...d, currentChunk: c, chunkIndex: i, totalChunks: chunks.length } }));"
      },
      "id": "split",
      "name": "Split Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"openai/gpt-4o-mini\",\\n  \"messages\": [\\n    {\\n      \"role\": \"system\",\\n      \"content\": \"Sen bir video transkript parçasını özetleyen uzman asistansın. Sadece bu parçanın ana fikirlerini, kavramlarını ve önemli noktalarını 3-7 madde halinde Türkçe özetle. Teknik terimleri koru. Düz metin yaz.\"\\n    },\\n    {\\n      \"role\": \"user\",\\n      \"content\": \"Parça {{ $json.chunkIndex + 1 }}/{{ $json.totalChunks }} (Video: {{ $json.videoId }}):\\n\\n{{ $json.currentChunk }}\"\\n    }\\n  ],\\n  \"max_tokens\": 800,\\n  \"temperature\": 0.2\\n}"
      },
      "id": "chunk-llm",
      "name": "Chunk LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        260
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "summaries"
      },
      "id": "agg",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nconst sums = items.summaries || [];\nconst base = $input.all()[0]?.json || {};\n\nconst combined = sums.map((s, i) => {\n  const c = s?.choices?.[0]?.message?.content || s?.message?.content || '';\n  return `Bölüm ${i+1}:\\n${c}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { ...base, combinedSummary: combined } }];"
      },
      "id": "merge-chunks",
      "name": "Merge Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"openai/gpt-4o\",\\n  \"messages\": [\\n    {\\n      \"role\": \"system\",\\n      \"content\": \"Sen Türkçe konuşan, eğitim odaklı bir YouTube analiz uzmanısın. Sana video transkript/özet verilecek. Aşağıdaki JSON yapısını SADECE döndür, başka hiçbir şey yazma:\\n\\n{\\n  \\\"video_konusu\\\": \\\"kısa başlık\\\",\\n  \\\"hedef_kitle\\\": \\\"kimin için uygun\\\",\\n  \\\"seviye\\\": \\\"Başlangıç / Orta / İleri\\\",\\n  \\\"sure_ozet\\\": \\\"X dakikada şunu öğreneceksin\\\",\\n  \\\"anahtar_kavramlar\\\": [\\\"k1\\\",\\\"k2\\\",\\\"k3\\\",\\\"k4\\\",\\\"k5\\\"],\\n  \\\"on_bilgi\\\": [\\\"ön bilgi 1\\\",\\\"ön bilgi 2\\\"],\\n  \\\"ozet\\\": \\\"4-6 paragraf detaylı özet\\\",\\n  \\\"ders_anlatimi\\\": [\\n    {\\\"baslik\\\":\\\"Bölüm 1\\\",\\\"icerik\\\":\\\"200-300 kelime\\\",\\\"onemli_not\\\":\\\"dikkat edilecek nokta\\\"},\\n    {\\\"baslik\\\":\\\"Bölüm 2\\\",\\\"icerik\\\":\\\"...\\\",\\\"onemli_not\\\":\\\"...\\\"},\\n    {\\\"baslik\\\":\\\"Bölüm 3\\\",\\\"icerik\\\":\\\"...\\\",\\\"onemli_not\\\":\\\"...\"}\\n  ],\\n  \\\"pratik_uygulamalar\\\": [\\\"uyg1\\\",\\\"uyg2\\\",\\\"uyg3\\\"],\\n  \\\"test_sorulari\\\": [\\n    {\\\"soru\\\":\\\"...\\\",\\\"secenekler\\\":{\\\"A\\\":\\\"...\\\",\\\"B\\\":\\\"...\\\",\\\"C\\\":\\\"...\\\",\\\"D\\\":\\\"...\\\"},\\\"dogru_cevap\\\":\\\"A\\\",\\\"aciklama\\\":\\\"...\\\"}\\n  ],\\n  \\\"ilgili_konular\\\": [\\\"konu1\\\",\\\"konu2\\\"]\\n}\"\\n    },\\n    {\\n      \"role\": \"user\",\\n      \"content\": \"META: Video {{ $json.videoId }}, Dil: {{ $json.lang }}\\n\\nİÇERİK ({{ $json.totalChunks }} bölüm):\\n{{ $json.combinedSummary || $json.transcript }}\"\\n    }\\n  ],\\n  \"max_tokens\": 4000,\\n  \"temperature\": 0.25,\\n  \"response_format\": {\\\"type\\\": \\\"json_object\\\"}\\n}"
      },
      "id": "ai-lesson",
      "name": "AI Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst base = $input.all()[0]?.json || {};\n\nlet content = ai?.choices?.[0]?.message?.content || ai?.message?.content || '';\nconst m = content.match(/\\{[\\s\\S]*\\}/);\nif (!m) return [{ json: { error: true, output: 'AI yanıtı hatalı.', ...base }}];\n\nlet p;\ntry { p = JSON.parse(m[0]); }\ncatch(e) { try { p = JSON.parse(m[0].replace(/,\\s*}/g,'}').replace(/,\\s*]/g,']')); } catch(e2) { return [{ json: { error: true, output: 'JSON hatası: '+e2.message, ...base }}]; }\n}\n\nconst kavramlar = (p.anahtar_kavramlar||[]).map(k=>`\\`${k}\\``).join(' · ');\nconst onbilgi = (p.on_bilgi||[]).map(b=>`- ${b}`).join('\\n');\nconst anlatim = (p.ders_anlatimi||[]).map((b,i)=>`*${i+1}. ${b.baslik}*\\n${b.icerik}\\n${b.onemli_not?`💡 *Not:* ${b.onemli_not}`:''}`).join('\\n\\n');\nconst pratik = (p.pratik_uygulamalar||[]).map((u,i)=>`${i+1}. ${u}`).join('\\n');\nconst testler = (p.test_sorulari||[]).map((q,i)=>{\n  const opts = Object.entries(q.secenekler||{}).map(([k,v])=>`*${k})* ${v}`).join('  |  ');\n  return `*Soru ${i+1}:* ${q.soru}\\n\\n${opts}\\n\\nCevap: ||${q.dogru_cevap} - ${q.aciklama}||`;\n}).join('\\n\\n---\\n\\n');\n\nconst msg = `🎓 *${p.video_konusu||base.videoId}*\\n> Seviye: ${p.seviye} | Hedef: ${p.hedef_kitle}\\n\\n*⏱️ ${p.sure_ozet}*\\n\\n*🔑 Kavramlar:* ${kavramlar}\\n\\n*📚 Ön bilgi:*\\n${onbilgi}\\n\\n*📝 Özet*\\n${p.ozet}\\n\\n*📖 Konu Anlatımı*\\n${anlatim}\\n\\n*🛠️ Pratik*\\n${pratik}\\n\\n*🧪 Testler*\\n${testler}\\n\\n*🔍 Araştır*\\n${(p.ilgili_konular||[]).map(k=>`- ${k}`).join('\\n')}\\n\\n💬 _Soru sorabilir veya A/B/C/D yazabilirsin._`;\n\nreturn [{ json: { ...base, error: false, output: msg, title: p.video_konusu, seviye: p.seviye, ozet: p.ozet, parsedLesson: p }}];"
      },
      "id": "fmt-lesson",
      "name": "Format Lesson",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $json.videoId }}",
            "session_id": "={{ $json.sessionId }}",
            "title": "={{ $json.title }}",
            "seviye": "={{ $json.seviye }}",
            "ozet": "={{ $json.ozet }}",
            "summary": "={{ $json.output.substring(0,3000) }}",
            "ders_anlatimi": "={{ JSON.stringify($json.parsedLesson.ders_anlatimi) }}",
            "test_sorulari": "={{ JSON.stringify($json.parsedLesson.test_sorulari) }}",
            "pratik_uygulamalar": "={{ JSON.stringify($json.parsedLesson.pratik_uygulamalar) }}",
            "anahtar_kavramlar": "={{ JSON.stringify($json.parsedLesson.anahtar_kavramlar) }}",
            "user_id": "={{ $json.userId }}",
            "chat_id": "={{ $json.chatId }}",
            "url": "=https://youtube.com/watch?v={{ $json.videoId }}"
          }
        }
      },
      "id": "save-db",
      "name": "Save Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2640,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"openai/gpt-4o-mini\",\\n  \"messages\": [\\n    {\\n      \"role\": \"system\",\\n      \"content\": \"Sen Türkçe konuşan bir eğitim asistanısın. Kullanıcıya videonun içeriğine dayanarak kısa ve net cevap ver. Eğer soru videonun dışındaysa, 'Bu konu videoda geçmiyor' de.\"\\n    },\\n    {\\n      \"role\": \"user\",\\n      \"content\": \"SON VIDEO BAĞLAMI:\\nBaşlık: {{ $json.lastTitle }}\\nÖzet: {{ $json.lastOzet }}\\nDers: {{ $json.lastDers }}\\nKavramlar: {{ $json.lastKavramlar }}\\n\\nKULLANICI SORUSU: {{ $json.msg }}\"\\n    }\\n  ],\\n  \"max_tokens\": 1500,\\n  \"temperature\": 0.4\\n}"
      },
      "id": "qa",
      "name": "QA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst answer = data?.choices?.[0]?.message?.content || data?.message?.content || 'Cevap üretilemedi.';\nconst prev = $('Message Analyze').first().json;\nreturn [{ json: { ...prev, output: answer }}];"
      },
      "id": "fmt-qa",
      "name": "Format QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst tests = data.lastTests || [];\nconst answer = (data.msg || '').trim().toUpperCase().charAt(0);\n\nif (!tests.length) return [{ json: { ...data, output: '❌ Aktif test bulunamadı. Önce bir video analizi yapın.' }}];\n\nlet result = '';\nlet correct = 0;\n\ntests.forEach((q, i) => {\n  const userAns = answer; // Basit: tek harf gönderdiyse ilk soruyu kontrol et\n  const isCorrect = q.dogru_cevap === userAns;\n  if (isCorrect) correct++;\n  result += `*Soru ${i+1}:* ${isCorrect ? '✅ Doğru' : '❌ Yanlış'}\\nCevabın: ${userAns} | Doğru: ${q.dogru_cevap}\\n${q.aciklama}\\n\\n`;\n});\n\nreturn [{ json: { ...data, output: `*Test Değerlendirmesi*\\n\\n${result}Puan: ${correct}/${tests.length}` }}];"
      },
      "id": "fmt-test",
      "name": "Format Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        750
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst helpMsg = `👋 *YouTube AI Master*\\n\\n• YouTube linki → Ders planı + test\\n• Soru sor → Son videoyla ilgili cevap veririm\\n• A/B/C/D → Test cevabını kontrol ederim\\n• /history → Geçmişin\\n\\nÖrnek: https://youtube.com/watch?v=...`;\nreturn [{ json: { ...d, output: helpMsg }}];"
      },
      "id": "fmt-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        900
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "={user_id} = \"{{ $json.userId }}\"",
        "options": {
          "sort": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ]
        },
        "limit": 5
      },
      "id": "get-history",
      "name": "Get History",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1100,
        1050
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const recs = $input.all();\nconst d = $('Message Analyze').first().json;\nif (!recs.length) return [{ json: { ...d, output: 'Henüz geçmiş yok.' }}];\nlet text = '*📋 Son 5 Analiz:*\\n\\n';\nrecs.forEach((r,i)=>{ const f=r.json.fields||r.json; text+=`${i+1}. *${f.title||'-'}* (${f.seviye||'-'})\\n${f.video_id ? 'https://youtube.com/watch?v='+f.video_id : ''}\\n\\n`; });\nreturn [{ json: { ...d, output: text }}];"
      },
      "id": "fmt-history",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1050
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet text = d.output || d.historyMessage || d.helpMessage || 'Tamam.';\n\nif (d.source !== 'telegram') return [{ json: { ...d, response: text }}];\n\nlet html = text\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n  .replace(/\\`(.*?)\\`/g, '<code>$1</code>')\n  .replace(/\\n/g, '\\n');\n\nif (html.length > 4000) html = html.substring(0,4000)+'...';\nreturn [{ json: { ...d, telegramHtml: html }}];"
      },
      "id": "fmt-out",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.telegramHtml || $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-tg",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3080,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "cred-tg",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output, sessionId: $json.sessionId, videoId: $json.videoId }) }}"
      },
      "id": "resp-web",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3080,
        700
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get Last Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Session": {
      "main": [
        [
          {
            "node": "Message Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Analyze": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Supadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supadata": {
      "main": [
        [
          {
            "node": "Process Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Is Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cached?": {
      "main": [
        [
          {
            "node": "From Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Long Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Cache": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long Video?": {
      "main": [
        [
          {
            "node": "Split Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chunks": {
      "main": [
        [
          {
            "node": "Chunk LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk LLM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunks": {
      "main": [
        [
          {
            "node": "AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lesson": {
      "main": [
        [
          {
            "node": "Format Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lesson": {
      "main": [
        [
          {
            "node": "Save Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Airtable": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "Format QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format QA": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Test": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "YouTube AI"
    },
    {
      "name": "Telegram"
    },
    {
      "name": "Web"
    }
  ],
  "versionId": "v6-final-2026"
}