244410028_Ders_içeriğinden_özet_üretme_n8n/244410028_İlkerKuru_DersÖzeti_n8n.json
{
  "name": "YouTube içeriğinden özet konu anlatımı test üretme ve hafızalı sohbet",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "webhookId": "yt-final-tg",
      "credentials": {
        "telegramApi": {
          "id": "cred-tg",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-final-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "web-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        600
      ],
      "webhookId": "yt-final-web"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nlet source = 'web';\nlet msg = '';\nlet sessionId = '';\nlet userId = '';\nlet chatId = '';\n\nif (input.message && input.message.text) {\n  source = 'telegram';\n  msg = input.message.text;\n  userId = String(input.message.from?.id || '');\n  chatId = String(input.message.chat?.id || '');\n  sessionId = 'tg_' + chatId;\n} else {\n  msg = body.message || body.chatInput || '';\n  sessionId = body.sessionId || 'web_' + Math.random().toString(36).slice(2, 11);\n  userId = sessionId;\n  chatId = sessionId;\n}\n\nreturn [{ json: { msg, sessionId, userId, chatId, source, timestamp: new Date().toISOString() }}];"
      },
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        500
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "{user_id} = \"{{ $json.userId }}\"",
        "options": {
          "sort": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ]
        },
        "limit": 1
      },
      "id": "get-last",
      "name": "Get Last Session",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Normalize Input').first().json;\nconst msg  = (prev.msg || '').trim();\nconst { sessionId, userId, chatId, source } = prev;\n\nconst lastRec = $input.first()?.json?.fields || {};\nconst lastVideoId = lastRec.video_id || null;\n\nlet lastTests = [];\ntry { lastTests = lastRec.test_sorulari ? JSON.parse(lastRec.test_sorulari) : []; }\ncatch(e) { lastTests = []; }\n\nlet lastDers = '[]';\ntry { if (lastRec.ders_anlatimi) JSON.parse(lastRec.ders_anlatimi); lastDers = lastRec.ders_anlatimi || '[]'; }\ncatch(e) { lastDers = '[]'; }\n\nconst ytStrictRegex = /(?:youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/|live\\/)|youtu\\.be\\/)([\\w-]{11})/;\nconst match   = msg.match(ytStrictRegex);\nconst videoId = match ? match[1] : null;\n\nconst lower = msg.toLowerCase().trim();\nlet intent = 'soru';\n\nif      (videoId)                                                              intent = 'youtube';\nelse if (lower.startsWith('/help') || lower.startsWith('/start'))             intent = 'help';\nelse if (lower.startsWith('/history'))                                         intent = 'history';\nelse if (/^[a-d][.)]\\s*$/i.test(lower) && lastTests.length > 0)              intent = 'test_cevap';\nelse if (lower.includes('test') || lower.includes('quiz'))                    intent = 'test_iste';\nelse if (lower.includes('özet') || lower.includes('ozet') || lower.includes('summary')) intent = 'ozet_iste';\nelse if (lower.includes('sade') || lower.includes('basit') || lower.includes('kolay') || lower.includes('simple')) intent = 'sade_anlat';\nelse if (lower.includes('detay') || lower.includes('derin') || lower.includes('ileri') || lower.includes('advanced')) intent = 'derin_anlat';\nelse if (lower.includes('ingilizce') || lower.includes('english'))            intent = 'ingilizce';\nelse if (lower.includes('5 yaş') || lower.includes('çocuk') || lower.includes('cocuk')) intent = 'cocuk';\n\nreturn [{ json: {\n  msg, sessionId, userId, chatId, source,\n  videoId, intent, lastVideoId, lastTests,\n  lastTitle:    lastRec.title           || '',\n  lastOzet:     lastRec.ozet            || '',\n  lastDers,\n  lastKavramlar: lastRec.anahtar_kavramlar || ''\n}}];"
      },
      "id": "analyze",
      "name": "Message Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "test_cevap",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "test_cevap"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "history",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "history"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.supadata.ai/v1/youtube/transcript",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.videoId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_SUPADATA_KEY"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "retry": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "supadata",
      "name": "Supadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prev  = $('Message Analyze').first().json;\n\nlet transcript = '';\nlet lang = 'tr';\n\nif (Array.isArray(input.content)) {\n  transcript = input.content.map(s => (s.text || '')).join(' ');\n  lang = input.language || 'tr';\n} else if (typeof input.content === 'string') {\n  transcript = input.content;\n} else if (input.transcript) {\n  transcript = Array.isArray(input.transcript)\n    ? input.transcript.map(s => (s.text || '')).join(' ')\n    : String(input.transcript);\n}\n\ntranscript = transcript.trim();\nif (!transcript) {\n  return [{ json: { ...prev, error: true, output: '⚠️ Bu video için transkript bulunamadı. Altyazı kapalı olabilir.', transcript: '', lang, charCount: 0 }}];\n}\n\nif (transcript.length > 150000) transcript = transcript.substring(0, 150000) + '\\n\\n[...]';\n\nreturn [{ json: { ...prev, transcript, lang, charCount: transcript.length }}];"
      },
      "id": "proc-trans",
      "name": "Process Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "{video_id} = \"{{ $json.videoId }}\""
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-cached",
      "name": "Is Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst rec  = raw.fields || raw;\nconst prev = $('Message Analyze').first().json;\n\nfunction safeparse(s, fallback) {\n  try { return s ? JSON.parse(s) : fallback; }\n  catch(e) { return fallback; }\n}\n\nconst ders_anlatimi      = safeparse(rec.ders_anlatimi,      []);\nconst test_sorulari      = safeparse(rec.test_sorulari,      []);\nconst pratik_uygulamalar = safeparse(rec.pratik_uygulamalar, []);\nconst anahtar_kavramlar  = safeparse(rec.anahtar_kavramlar,  []);\n\nconst parsedLesson = {\n  video_konusu: rec.title || '',\n  seviye:       rec.seviye || '',\n  ozet:         rec.ozet   || '',\n  ders_anlatimi,\n  test_sorulari,\n  pratik_uygulamalar,\n  anahtar_kavramlar\n};\n\n// Formatlı mesaj üret (Format Lesson ile aynı mantık)\nconst kavramlar = anahtar_kavramlar.map(k => `\\`${k}\\``).join(' · ');\nconst anlatim   = ders_anlatimi.map((b, i) =>\n  `*${i+1}. ${b.baslik}*\\n${b.icerik}${b.onemli_not ? `\\n💡 *Not:* ${b.onemli_not}` : ''}`\n).join('\\n\\n');\nconst pratik    = pratik_uygulamalar.map((u, i) => `${i+1}. ${u}`).join('\\n');\nconst testler   = test_sorulari.map((q, i) => {\n  const opts = Object.entries(q.secenekler || {}).map(([k,v]) => `*${k})* ${v}`).join('  |  ');\n  return `*Soru ${i+1}:* ${q.soru}\\n\\n${opts}\\n\\nCevap: ||${q.dogru_cevap} - ${q.aciklama}||`;\n}).join('\\n\\n---\\n\\n');\n\nconst output = `🎓 *${rec.title || prev.videoId}* _(önbellekten)_\\n> Seviye: ${rec.seviye || '-'}\\n\\n*🔑 Kavramlar:* ${kavramlar || '-'}\\n\\n*📝 Özet*\\n${rec.ozet || '-'}\\n\\n*📖 Konu Anlatımı*\\n${anlatim || '-'}\\n\\n*🛠️ Pratik*\\n${pratik || '-'}\\n\\n*🧪 Testler*\\n${testler || '-'}\\n\\n💬 _Soru sorabilir veya A/B/C/D yazabilirsin._`;\n\nreturn [{ json: {\n  ...prev,\n  cached: true,\n  title:  rec.title  || 'Başlıksız',\n  seviye: rec.seviye || '',\n  ozet:   rec.ozet   || '',\n  output,\n  parsedLesson\n}}];"
      },
      "id": "from-cache",
      "name": "From Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.charCount }}",
              "rightValue": 8000,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "long-check",
      "name": "Long Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst t = d.transcript || '';\nconst MAX = 8000;\n\nif (!t || t.length <= MAX) return [{ json: { ...d, chunks: [t], totalChunks: 1 } }];\n\nconst chunks = [];\nlet cur = '';\nconst sentences = t.match(/[^.!?]+[.!?]+/g) || [t];\nfor (const s of sentences) {\n  if ((cur + s).length > MAX && cur.length > 1000) { chunks.push(cur.trim()); cur = s; }\n  else cur += s;\n}\nif (cur.trim()) chunks.push(cur.trim());\n\nreturn chunks.map((c, i) => ({ json: { ...d, currentChunk: c, chunkIndex: i, totalChunks: chunks.length } }));"
      },
      "id": "split",
      "name": "Split Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"openai/gpt-4o-mini\",\\n  \"messages\": [\\n    {\\n      \"role\": \"system\",\\n      \"content\": \"Sen bir video transkript parçasını özetleyen uzman asistansın. Sadece bu parçanın ana fikirlerini, kavramlarını ve önemli noktalarını 3-7 madde halinde Türkçe özetle. Teknik terimleri koru. Düz metin yaz.\"\\n    },\\n    {\\n      \"role\": \"user\",\\n      \"content\": \"Parça {{ $json.chunkIndex + 1 }}/{{ $json.totalChunks }} (Video: {{ $json.videoId }}):\\n\\n{{ $json.currentChunk }}\"\\n    }\\n  ],\\n  \"max_tokens\": 800,\\n  \"temperature\": 0.2\\n}",
        "options": {
          "retry": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "chunk-llm",
      "name": "Chunk LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        260
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "summaries"
      },
      "id": "agg",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const agg  = $input.first().json;\nconst sums = agg.summaries || [];\n\n// base context: Aggregate öncesinden birini al\nconst base = sums[0] || {};\n\nconst combined = sums.map((s, i) => {\n  const c = s?.choices?.[0]?.message?.content || s?.message?.content || '';\n  return `Bölüm ${i+1}:\\n${c}`;\n}).join('\\n\\n---\\n\\n');\n\n// Message Analyze'dan orijinal meta veriyi al\nconst meta = $('Message Analyze').first().json;\n\nreturn [{ json: { ...meta, combinedSummary: combined, totalChunks: sums.length, transcript: '' }}];"
      },
      "id": "merge-chunks",
      "name": "Merge Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"openai/gpt-4o\",\\n  \"messages\": [\\n    {\\n      \"role\": \"system\",\\n      \"content\": \"Sen Türkçe konuşan, eğitim odaklı bir YouTube analiz uzmanısın. Sana video transkript/özet verilecek. Aşağıdaki JSON yapısını SADECE döndür, başka hiçbir şey yazma:\\n\\n{\\n  \\\"video_konusu\\\": \\\"kısa başlık\\\",\\n  \\\"hedef_kitle\\\": \\\"kimin için uygun\\\",\\n  \\\"seviye\\\": \\\"Başlangıç / Orta / İleri\\\",\\n  \\\"sure_ozet\\\": \\\"X dakikada şunu öğreneceksin\\\",\\n  \\\"anahtar_kavramlar\\\": [\\\"k1\\\",\\\"k2\\\",\\\"k3\\\",\\\"k4\\\",\\\"k5\\\"],\\n  \\\"on_bilgi\\\": [\\\"ön bilgi 1\\\",\\\"ön bilgi 2\\\"],\\n  \\\"ozet\\\": \\\"4-6 paragraf detaylı özet\\\",\\n  \\\"ders_anlatimi\\\": [\\n    {\\\"baslik\\\":\\\"Bölüm 1\\\",\\\"icerik\\\":\\\"200-300 kelime\\\",\\\"onemli_not\\\":\\\"dikkat edilecek nokta\\\"},\\n    {\\\"baslik\\\":\\\"Bölüm 2\\\",\\\"icerik\\\":\\\"...\\\",\\\"onemli_not\\\":\\\"...\\\"},\\n    {\\\"baslik\\\":\\\"Bölüm 3\\\",\\\"icerik\\\":\\\"...\\\",\\\"onemli_not\\\":\\\"...\"}\\n  ],\\n  \\\"pratik_uygulamalar\\\": [\\\"uyg1\\\",\\\"uyg2\\\",\\\"uyg3\\\"],\\n  \\\"test_sorulari\\\": [\\n    {\\\"soru\\\":\\\"...\\\",\\\"secenekler\\\":{\\\"A\\\":\\\"...\\\",\\\"B\\\":\\\"...\\\",\\\"C\\\":\\\"...\\\",\\\"D\\\":\\\"...\\\"},\\\"dogru_cevap\\\":\\\"A\\\",\\\"aciklama\\\":\\\"...\\\"}\\n  ],\\n  \\\"ilgili_konular\\\": [\\\"konu1\\\",\\\"konu2\\\"]\\n}\"\\n    },\\n    {\\n      \"role\": \"user\",\\n      \"content\": \"META: Video {{ $json.videoId }}, Dil: {{ $json.lang }}\\n\\nİÇERİK ({{ $json.totalChunks }} bölüm):\\n{{ $json.combinedSummary || $json.transcript }}\"\\n    }\\n  ],\\n  \"max_tokens\": 4000,\\n  \"temperature\": 0.25,\\n  \"response_format\": {\\\"type\\\": \\\"json_object\\\"}\\n}",
        "options": {
          "retry": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "ai-lesson",
      "name": "AI Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai   = $input.first().json;\nconst base = $('Message Analyze').first().json;\n\nlet content = ai?.choices?.[0]?.message?.content || ai?.message?.content || '';\n\n// JSON objesini çıkart\nconst m = content.match(/\\{[\\s\\S]*\\}/);\nif (!m) return [{ json: { ...base, error: true, output: '⚠️ AI yapılandırılmış veri döndürmedi. Tekrar deneyin.' }}];\n\nlet p;\ntry {\n  p = JSON.parse(m[0]);\n} catch(e) {\n  try {\n    p = JSON.parse(m[0].replace(/,\\s*}/g, '}').replace(/,\\s*]/g, ']'));\n  } catch(e2) {\n    return [{ json: { ...base, error: true, output: `⚠️ JSON parse hatası: ${e2.message}` }}];\n  }\n}\n\nconst kavramlar = (p.anahtar_kavramlar || []).map(k => `\\`${k}\\``).join(' · ');\nconst onbilgi   = (p.on_bilgi          || []).map(b => `- ${b}`).join('\\n');\nconst anlatim   = (p.ders_anlatimi     || []).map((b, i) =>\n  `*${i+1}. ${b.baslik}*\\n${b.icerik}${b.onemli_not ? `\\n💡 *Not:* ${b.onemli_not}` : ''}`\n).join('\\n\\n');\nconst pratik    = (p.pratik_uygulamalar || []).map((u, i) => `${i+1}. ${u}`).join('\\n');\nconst testler   = (p.test_sorulari     || []).map((q, i) => {\n  const opts = Object.entries(q.secenekler || {}).map(([k,v]) => `*${k})* ${v}`).join('  |  ');\n  return `*Soru ${i+1}:* ${q.soru}\\n\\n${opts}\\n\\nCevap: ||${q.dogru_cevap} - ${q.aciklama}||`;\n}).join('\\n\\n---\\n\\n');\n\nconst output = `🎓 *${p.video_konusu || base.videoId}*\\n> Seviye: ${p.seviye} | Hedef: ${p.hedef_kitle}\\n\\n*⏱️ ${p.sure_ozet}*\\n\\n*🔑 Kavramlar:* ${kavramlar}\\n\\n*📚 Ön bilgi:*\\n${onbilgi}\\n\\n*📝 Özet*\\n${p.ozet}\\n\\n*📖 Konu Anlatımı*\\n${anlatim}\\n\\n*🛠️ Pratik*\\n${pratik}\\n\\n*🧪 Testler*\\n${testler}\\n\\n*🔍 Araştır*\\n${(p.ilgili_konular||[]).map(k=>`- ${k}`).join('\\n')}\\n\\n💬 _Soru sorabilir veya A/B/C/D yazabilirsin._`;\n\nreturn [{ json: {\n  ...base,\n  error: false,\n  output,\n  title:        p.video_konusu || base.videoId,\n  seviye:       p.seviye       || '',\n  ozet:         p.ozet         || '',\n  parsedLesson: p\n}}];"
      },
      "id": "fmt-lesson",
      "name": "Format Lesson",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $json.videoId }}",
            "session_id": "={{ $json.sessionId }}",
            "title": "={{ $json.title }}",
            "seviye": "={{ $json.seviye }}",
            "ozet": "={{ $json.ozet }}",
            "summary": "={{ $json.output.substring(0,3000) }}",
            "ders_anlatimi": "={{ JSON.stringify($json.parsedLesson.ders_anlatimi) }}",
            "test_sorulari": "={{ JSON.stringify($json.parsedLesson.test_sorulari) }}",
            "pratik_uygulamalar": "={{ JSON.stringify($json.parsedLesson.pratik_uygulamalar) }}",
            "anahtar_kavramlar": "={{ JSON.stringify($json.parsedLesson.anahtar_kavramlar) }}",
            "user_id": "={{ $json.userId }}",
            "chat_id": "={{ $json.chatId }}",
            "url": "=https://youtube.com/watch?v={{ $json.videoId }}"
          }
        }
      },
      "id": "save-db",
      "name": "Save Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2640,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"openai/gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"Sen Türkçe konuşan bir eğitim asistanısın. Sana bir kullanıcının niyeti (intent) ve son izlediği videonun bağlamı verilecek.\\n\\nNiyete göre davran:\\n- soru / soru: Kısa ve net cevap ver, bağlamdan çıkıyorsa 'Bu konu videoda geçmiyor' de.\\n- test_iste: Bağlamdan 3 çoktan seçmeli test sorusu üret (A/B/C/D formatında, dogru_cevap ve aciklama ile).\\n- ozet_iste: Videoyu 3-4 paragraf halinde özetle.\\n- sade_anlat: Konuyu sanki ilk kez duyuyormuş gibi, çok basit dille açıkla.\\n- derin_anlat: Konuyu teknik derinlikte, örnekler ve alt kavramlarla açıkla.\\n- ingilizce: Yanıtını İngilizce ver.\\n- cocuk: 5 yaşındaki birine anlatır gibi, basit metaforlarla açıkla.\"}, {\"role\": \"user\", \"content\": \"NİYET: {{ $json.intent }}\\n\\nSON VİDEO BAĞLAMI:\\nBaşlık: {{ $json.lastTitle }}\\nÖzet: {{ $json.lastOzet }}\\nDers: {{ $json.lastDers }}\\nKavramlar: {{ $json.lastKavramlar }}\\n\\nKULLANICI MESAJI: {{ $json.msg }}\"}], \"max_tokens\": 1500, \"temperature\": 0.4}",
        "options": {
          "retry": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "qa",
      "name": "QA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data   = $input.first().json;\nconst prev   = $('Message Analyze').first().json;\nconst answer = data?.choices?.[0]?.message?.content || data?.message?.content || '';\n\nif (!answer || answer.trim() === '') {\n  return [{ json: { ...prev, output: '⚠️ Cevap üretilemedi. Tekrar deneyin.' }}];\n}\n\nconst intentLabel = {\n  soru:        '💬',\n  test_iste:   '🧪',\n  ozet_iste:   '📝',\n  sade_anlat:  '🟢',\n  derin_anlat: '🔵',\n  ingilizce:   '🇬🇧',\n  cocuk:       '🧒'\n}[prev.intent] || '💬';\n\nreturn [{ json: { ...prev, output: `${intentLabel} ${answer}` }}];"
      },
      "id": "fmt-qa",
      "name": "Format QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data  = $input.first().json;\nconst tests = data.lastTests || [];\nconst msg   = (data.msg || '').trim().toUpperCase();\nconst answer = msg.replace(/[^A-D]/g, '').charAt(0);\n\nif (!tests.length) {\n  return [{ json: { ...data, output: '❌ Aktif test bulunamadı. Önce bir YouTube videosu analiz ettirin.' }}];\n}\nif (!answer) {\n  return [{ json: { ...data, output: '⚠️ Geçerli bir seçenek girin: A, B, C veya D' }}];\n}\n\n// Son yanlış cevabı vermediğimiz (veya henüz cevap verilmemiş) ilk soruyu bul\nconst unanswered = tests.find(q => !q._answered);\nconst q = unanswered || tests[0];\n\nconst isCorrect = (q.dogru_cevap || '').toUpperCase() === answer;\n\nconst opts = Object.entries(q.secenekler || {})\n  .map(([k, v]) => `${k === answer ? (isCorrect ? '✅' : '❌') : (k === q.dogru_cevap && !isCorrect ? '✅' : '•')} *${k})* ${v}`)\n  .join('\\n');\n\nconst result = isCorrect\n  ? `✅ *Doğru!*\\n\\n${opts}\\n\\n💡 ${q.aciklama}`\n  : `❌ *Yanlış.* (Senin cevabın: ${answer} | Doğru: ${q.dogru_cevap})\\n\\n${opts}\\n\\n💡 ${q.aciklama}`;\n\n// Sonraki soruyu göster (varsa)\nconst currentIdx = tests.indexOf(q);\nconst nextQ      = tests[currentIdx + 1];\nconst nextHint   = nextQ\n  ? `\\n\\n*Soru ${currentIdx + 2}/${tests.length}:* ${nextQ.soru}\\n\\n${Object.entries(nextQ.secenekler||{}).map(([k,v])=>`*${k})* ${v}`).join('  |  ')}\\n\\nCevabın?`\n  : `\\n\\n🏁 *Tüm sorular tamamlandı!* Yeni bir video analiz etmek için link gönder.`;\n\nreturn [{ json: { ...data, output: `*Soru ${currentIdx + 1}/${tests.length}*\\n\\n${result}${nextHint}` }}];"
      },
      "id": "fmt-test",
      "name": "Format Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        750
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst helpMsg = `👋 *YouTube AI Master*\\n\\n• YouTube linki → Ders planı + test\\n• Soru sor → Son videoyla ilgili cevap veririm\\n• A/B/C/D → Test cevabını kontrol ederim\\n• /history → Geçmişin\\n\\nÖrnek: https://youtube.com/watch?v=...`;\nreturn [{ json: { ...d, output: helpMsg }}];"
      },
      "id": "fmt-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        900
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_TABLE_ID"
        },
        "filterByFormula": "{user_id} = \"{{ $json.userId }}\"",
        "options": {
          "sort": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ]
        },
        "limit": 5
      },
      "id": "get-history",
      "name": "Get History",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1100,
        1050
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cred-at",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const recs = $input.all();\nconst d = $('Message Analyze').first().json;\nif (!recs.length) return [{ json: { ...d, output: 'Henüz geçmiş yok.' }}];\nlet text = '*📋 Son 5 Analiz:*\\n\\n';\nrecs.forEach((r,i)=>{ const f=r.json.fields||r.json; text+=`${i+1}. *${f.title||'-'}* (${f.seviye||'-'})\\n${f.video_id ? 'https://youtube.com/watch?v='+f.video_id : ''}\\n\\n`; });\nreturn [{ json: { ...d, output: text }}];"
      },
      "id": "fmt-history",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1050
      ]
    },
    {
      "parameters": {
        "jsCode": "const d    = $input.first().json;\nconst text = (d.output || d.historyMessage || d.helpMessage || 'Tamam.').trim();\n\n// Web kaynaklı istekler için düz metin dön\nif (d.source !== 'telegram') {\n  return [{ json: { ...d, telegramHtml: '', response: text }}];\n}\n\n// Telegram HTML dönüşümü\n// Sıra önemli: önce **bold**, sonra *bold*, sonra `code`, sonra spoiler\nlet html = text\n  .replace(/\\*\\*([^*\\n]+)\\*\\*/g,   '<b>$1</b>')\n  .replace(/\\*((?:[^*\\n]|\\n(?!\\n))+)\\*/g, '<b>$1</b>')\n  .replace(/`([^`\\n]+)`/g,          '<code>$1</code>')\n  .replace(/\\|\\|(.+?)\\|\\|/gs,       '<tg-spoiler>$1</tg-spoiler>')\n  .replace(/_([^_\\n]+)_/g,          '<i>$1</i>');\n\n// Telegram'ın 4096 karakter limitini yönet\nif (html.length > 4000) {\n  html = html.substring(0, 3900) + '\\n\\n<i>✂️ [Mesaj kesildi — /history ile tam listeye bak]</i>';\n}\n\nreturn [{ json: { ...d, telegramHtml: html, response: text }}];"
      },
      "id": "fmt-out",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.telegramHtml || $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-tg",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3080,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "cred-tg",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output, sessionId: $json.sessionId, videoId: $json.videoId }) }}"
      },
      "id": "resp-web",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3080,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "tg-check",
              "leftValue": "={{ $json.source }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-telegram",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "err-t",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "trans-ok",
      "name": "Transcript OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        180
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get Last Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Session": {
      "main": [
        [
          {
            "node": "Message Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Analyze": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Supadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supadata": {
      "main": [
        [
          {
            "node": "Process Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript": {
      "main": [
        [
          {
            "node": "Transcript OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Is Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cached?": {
      "main": [
        [
          {
            "node": "From Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Long Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Cache": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long Video?": {
      "main": [
        [
          {
            "node": "Split Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chunks": {
      "main": [
        [
          {
            "node": "Chunk LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk LLM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunks": {
      "main": [
        [
          {
            "node": "AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lesson": {
      "main": [
        [
          {
            "node": "Format Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lesson": {
      "main": [
        [
          {
            "node": "Save Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Airtable": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "Format QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format QA": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Test": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Is Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript OK?": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "YouTube AI"
    },
    {
      "name": "Telegram"
    },
    {
      "name": "Web"
    }
  ],
  "versionId": "2026"
}
